/* Top Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

/* Logo */
.logo {
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.logo .vf {
  color: #84c225;
}

/* Search */
.search-box {
  flex: 1;
  margin: 0 40px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Login */
.auth button {
  background-color: #202020;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  cursor: pointer;
}

/* Category Bar */
.category-bar {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #84c225;
  color: white;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Quick Links */
.quick-links {
  margin-left: 30px;
}

.quick-links a {
  margin-right: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.quick-links a:hover {
  color: #84c225;
}


.custom-dialog .mat-mdc-dialog-container {
  border-radius: 12px;
  padding: 20px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

mat-dialog-container {
  overflow: hidden;
}



