<div class="account-page">
  <!-- HEADER -->
  <div class="profile-header">
    <h2>Personal Details</h2>
    @if (!isEditMode()) {
    <button mat-raised-button color="primary" (click)="editProfile()">
      Edit
    </button>
    }
  </div>

  <!-- VIEW MODE -->
  @if (!isEditMode() && userService.userProfile()) {
  <div class="profile-view">

    <div class="profile-left">
      <h3>
        {{ userService.userProfile()?.firstName }}
        {{ userService.userProfile()?.lastName }}
      </h3>

      <p>
        <mat-icon>mail</mat-icon>
        {{ userService.userProfile()?.email }}
      </p>

      <p>
        <mat-icon>phone</mat-icon>
        {{ userService.userProfile()?.phoneNumber }}
      </p>
    </div>

    @if (defaultAddress()) {
    <mat-divider vertical></mat-divider>

    <div class="profile-right">
      <h4><b>Primary delivery address</b></h4>
      <p>{{ defaultAddress()?.address }}</p>
      <p>
        {{ defaultAddress()?.street }},
        {{ defaultAddress()?.city }} -
        {{ defaultAddress()?.pinCode }}
      </p>
      <p>{{ defaultAddress()?.state }}</p>
    </div>
    }

  </div>
  }

  <!-- EDIT MODE -->
  @if (isEditMode()) {
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="FirstName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="Surname">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mobile</mat-label>
      <input matInput formControlName="Mobile">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="Email">
    </mat-form-field>

    <mat-checkbox>
      Send me mails on promotions, offers and services
    </mat-checkbox>

    <div class="form-actions">
      <button mat-button type="button" (click)="cancelEdit()">
        Cancel
      </button>

      <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.pristine || profileForm.invalid">
        Save
      </button>
    </div>

  </form>
  }

</div>