.account-page {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 16px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.profile-header h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  color: #111827;
}

/* FIXED STRUCTURE */
.profile-view {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
}

.profile-view mat-divider {
  align-self: stretch;
}

/* LEFT SIDE */
.profile-left h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 14px;
  letter-spacing: 0.3px;
}

.profile-left p {
  display: flex;
  align-items: center;   /* vertical center */
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #4b5563;
  margin: 8px 0;
  line-height: 1.2;
  letter-spacing: 0.5px;
  
}

/* RIGHT SIDE */
.profile-right h4 {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 12px;
  letter-spacing: 0.3px;
}

.profile-right p {
  font-size: 15px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 6px;
  line-height: 0.8;
  letter-spacing: 0.5px;
}

.profile-left mat-icon {
  font-size: 18px;   /* smaller & cleaner */
  width: 18px;
  height: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
}